[user]
	name = Nick Russo
	email = nijaru0x@gmail.com
	# signingkey = D6703FB644204E34
[checkout]
	defaultRemote = origin
	workers = 0
[commit]
	gpgsign = true
[core]
	editor = $EDITOR --wait
	excludesFile = ~/github/dotfiles/misc/gitignore
	untrackedCache = true
[difftool]
	prompt = false
[fetch]
	parallel = 0
	prune = true
	pruneTags = true
# [gpg]
# 	program = gpg
[init]
	defaultBranch = main
[merge]
	ff = only
	tool = vscode
[mergetool "$EDITOR"]
	cmd = $EDITOR --wait $MERGED
[pack]
	threads = 0
[pull]
	# ff = only
	prune = true
	pruneTags = true
	rebase = true
[push]
	default = upstream
	followTags = true
[rebase]
	autoStash = true
	# autoSquash = true
[rerere]
	autoupdate = true
	enabled = true
[status]
	showUntrackedFiles = all
[submodule]
	# recurse = true
	fetchJobs = 0
[tag]
	forceSignAnnotated = true
[transfer]
	fsckobjects = true
[url "git@github.com:"]
	insteadOf = https://github.com/

# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true

[color]
	ui = true
# [color "status"]
# 	changed = yellow

[alias]
	patch = apply --ignore-space-change --ignore-whitespace
	scrub = reset --hard @{upstream}
